<div class="container">

    <div class="top-container">
        <div>
            <div class="heading">
                Quality Management
            </div>
            <div class="overview">
                Test Cycles Overview
            </div>
        </div>
        <div class="dialog-btn" mat-raised-button>
            <img class="plus" src="../../../../../../assets/icons/plus.svg"> Create Test Cycle
        </div>
    </div>

    <div class="feature-intro-general-wrapper">
        <div class="content-center" *ngIf="!showRatingSetting">
            <div class="hello-icon"></div>
            <div class="feature-heading">
                Welcome to <br> Fusion Quality Management
            </div>
            <p class="feature-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet urna quam. Donec sodales lectus erat. Interdum et malesuada fames ac ante ipsum primis
                in
                faucibus.
                Morbi ac nulla dictum, interdum lectus sed, eleifend sem.
            </p>

            <div class="btn-secandry" (click)="showRatingSetting=true">
                Create Test Cycle</div>
        </div>


        <div *ngIf="showRatingSetting">
            <div class="main-list">
                <div class="list-container">
                    <div class="list-headers">

                        <div class="list-header-content-container">
                            Test Cycle
                        </div>
                        <div class="list-header-content-container">
                            Created
                        </div>
                        <div class="list-header-content-container">
                            Screens
                        </div>
                        <div class="list-header-content-container">
                            Status
                        </div>

                        <div class="right-icon-container">
                        </div>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="list-tile" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" (click)="openDetails()">
                    <div class="list-tile-data">
                        <div class="list-tile-data-text">Sign Up</div>
                    </div>
                    <div class="list-tile-data">
                        <div class="list-tile-data-text">12 January 2022</div>
                    </div>
                    <div class="list-tile-data">
                        <div class="list-tile-data-text">15<img class="attach" src="../../../../../../assets/icons/i-os-icon-medium-without-padding-attach-blue.svg"></div>
                    </div>
                    <div class="list-tile-data">
                        <div class="list-tile-data-text"><mat-progress-bar class="audio-progress-bar"></mat-progress-bar></div>
                    </div>

                    <div class="right-icon-container" (click)="screenDetail()">
                        <div class="list-tile-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h16v16H0z" />
                                    <path
                                        d="M4 9.333c-.367 0-.68-.13-.941-.392A1.282 1.282 0 0 1 2.667 8c0-.367.13-.68.392-.942.26-.26.574-.391.941-.391s.68.13.941.391c.262.261.392.575.392.942s-.13.68-.392.941c-.26.262-.574.392-.941.392zm4 0c-.367 0-.68-.13-.941-.392A1.282 1.282 0 0 1 6.667 8c0-.367.13-.68.392-.942.26-.26.574-.391.941-.391s.68.13.942.391c.26.261.391.575.391.942s-.13.68-.391.941A1.284 1.284 0 0 1 8 9.333zm4 0c-.367 0-.68-.13-.942-.392A1.283 1.283 0 0 1 10.667 8c0-.367.13-.68.391-.942.261-.26.575-.391.942-.391s.68.13.942.391c.26.261.391.575.391.942s-.13.68-.391.941a1.284 1.284 0 0 1-.942.392z"
                                        fill="#000" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>