@import "../../../../../../../assets/styling/principles/variables";
@import "../../../../../../../assets/styling/fonts";

.container {
    width: 100%;
    height: 100%;
    background: #f9f9f9;

    .top-container {
        background: #f9f9f9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem 0 2.4rem;


        .heading {
            font-family: $fusion-family;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #9f9f9f;
        }

        .overview {
            margin: 3px 0 0 0;
            font-family: $fusion-family;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
        }
    }

    .inner-container {
        width: 100%;
        padding: 2rem;

        .content-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .hello-icon {
                width: 127px;
                height: 127px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                // background-image: url("../../../../../../assets/filters/i-os-icon-medium-without-padding-quality.svg");
                margin-bottom: 30px;
            }

            .feature-heading {
                font-family: "HelveticaNeue-Bold";
                margin: 0 0 24px;
                font-size: 32px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $black;
            }

            .feature-description {
                width: 582px;
                height: 36px;
                margin: 24px 125px 39px;
                font-family: "HelveticaNeue";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $grey-100;
            }
        }
    }

    .dialog-btn {
        width: 12%;
        height: 40px;
        float: right;
        border-radius: 25px;
        background-color: #ececec;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        font-family: $fusion-family;
        color: #4f4f4f;
    }

    .plus {
        margin-right: 5px;
    }

}