<div class="container">

    <div class="top-container">
        <div>
            <div class="heading">
                Quality Management > Test Cycles
            </div>
            <div class="overview">
                Sign Up
            </div>
        </div>
        <div class="dialog-btn" mat-raised-button>
            <img class="plus" src="../../../../../../../assets/filters/i-os-icon-medium-without-padding-attach.svg"> Add New Screen
        </div>
    </div>



    <div class="inner-container">
        <div class="content-center">
            <div class="hello-icon"></div>
            <div class="feature-heading">
                No Screens Found
            </div>
            <p class="feature-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet urna quam. Donec sodales lectus erat.
            </p>
            <div class="btn-secandry" mat-raised-button (click)="openDialog('500ms', '100ms')">
                Add New Screen
            </div>
        </div>

    </div>
</div>