@import '../../../../../../assets/styling/principles/variables';

.container {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 1rem 2rem 0 2.4rem;

    .content-container {
        background-color: white;
        margin-top: 1rem;
        width: 100%;
        height: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        display: flex;
        flex-direction: row;


        .sidebar-container {
            width: 20%;
            height: 100%;
            padding: 2rem;
            border-right: 2px solid #ebebeb;

            .Project-Settings-Heading {
                width: 5.9rem;
                height: 1.8rem;
                margin: 0 15.3rem 0.8rem 0;
                font-family: 'HelveticaNeue-Bold';
                font-size: 1.6rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000;
            }

            .sub-heading {

                margin: 8px 0px 20px 0;
                font-family: 'HelveticaNeue';
                font-size: 1.2rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #929292;
            }

            .row-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                // width: 212px;
                height: 36px;
                padding: 10px 0px 10px 10px;
                border-radius: 8px;
                cursor: pointer;
                margin-bottom: 10px;

                &.active {
                    background-color: #f0f5fe;
                }


                .icon {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;


                }

                .label-text {
                    // width: 104px;
                    height: 16px;
                    margin: 0 0 0px 8px;
                    font-family: 'HelveticaNeue';
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4f4f4f;

                    &.active {
                        color: #4684f8;
                    }

                }
            }

        }

        .page-wrapper-container {
            width: 80%;
            height: 100%;
        }
    }
}