<div class="container-wrapper">
    <div class="heading">
        Integrations
    </div>
    <div class="sub-heading">
        You can find all workspace settings here
    </div>


    <div class="cards-container">
        <div class="Rectangle">
            <div class="top">
                <div class="left">
                    <img src="../../../../../../assets/integrations/slack.png" class="icon" />
                </div>

                <div class="middle">
                    <div class="heading">
                        Slack
                    </div>
                    <div class="sub-heading">
                        Messaging to Teams
                    </div>

                    <div class="details">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </div>

                </div>

                <div class="right">
                    <label class="switch">
                        <input type="checkbox" [checked]=false>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="divider"></div>

            <div class="bottom">
                <div class="manage-btn">
                    <div class="Manage">
                        Manage
                    </div>
                </div>
            </div>

        </div>

        <div class="Rectangle">
            <div class="top">
                <div class="left">
                    <img src="../../../../../../assets/integrations/Microsoft_Teams.png" class="icon" />
                </div>

                <div class="middle">
                    <div class="heading">
                        Microsoft Teams
                    </div>
                    <div class="sub-heading">
                        Messaging to Teams
                    </div>

                    <div class="details">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </div>

                </div>

                <div class="right">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" [checked]=false>
                        <span class="slider round"></span>
                    </label> <!-- <mat-slide-toggle class="example-margin" [checked]="true">
                    </mat-slide-toggle> -->
                </div>
            </div>

            <div class="divider"></div>

            <div class="bottom">
                <div class="manage-btn">
                    <div class="Manage">
                        Manage
                    </div>
                </div>
            </div>
        </div>
        <div class="Rectangle">
            <div class="top">
                <div class="left">
                    <img src="../../../../../../assets/integrations/github.png" class="icon" />
                </div>

                <div class="middle">
                    <div class="heading">
                        Github
                    </div>
                    <div class="sub-heading">
                        Messaging to Teams
                    </div>

                    <div class="details">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </div>

                </div>

                <div class="right">
                    <label class="switch">
                        <input type="checkbox" [checked]=false>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="divider"></div>

            <div class="bottom">
                <div class="manage-btn">
                    <div class="Manage">
                        Manage
                    </div>
                </div>
            </div>
        </div>
        <div class="Rectangle">
            <div class="top">
                <div class="left">
                    <img src="../../../../../../assets/integrations/jira.png" class="icon" />
                </div>

                <div class="middle">
                    <div class="heading">
                        Jira
                    </div>
                    <div class="sub-heading">
                        Messaging to Teams
                    </div>

                    <div class="details">
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
                    </div>

                </div>

                <div class="right">
                    <label class="switch">
                        <input type="checkbox" [checked]=false>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="divider"></div>

            <div class="bottom">
                <div class="manage-btn">
                    <div class="Manage">
                        Manage
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>