@import "../fonts";

// Colors
$grey-84: #848484;
$primary-color: #4684f8;
$primary-color-diabled: #9bbdfc;
$color-primary-dark: #1863f0;
$grey-text: #7d7d7d;
$workspace-color: #8900ff;



$black: #000;
$white: #fff;
$grey-000: #fcfcfc;
$grey-010: #f9f9f9;
$grey-020: #f4f4f4;
$grey-030: #ececec;
$grey-040: #e3e3e3;
$grey-050: #d9d9d9;
$grey-060: #d0d0d0;
$grey-070: #c6c6c6;
$grey-080: #9f9f9f;
$grey-090: #777;
$grey-100: #4f4f4f;
$grey-110: #303030;
$grey-120: #282828;
$grey-130: #202020;
$grey-140: #181818;
$grey-150: #101010;
$grey-160: #0a0a0a;
$blue-000: #fafcff;
$blue-030: #e9f0fe;
$blue-010: #f6f9ff;
$blue-020: #f0f5fe;
$blue-040: #e2ebfe;
$blue-050: #dae6fd;
$blue-060: #d3e1fd;
$blue-070: #b5cefc;
$blue-080: #90b5fb;
$blue-090: #6b9cf9;
$blue-100: #4684f8;
$blue-110: #216bf6;
$blue-120: #1c59cd;
$blue-130: #1647a4;
$blue-140: #11367b;
$blue-150: #0b2452;
$blue-160: #071531;
$orange-000: #fffcfa;
$orange-010: #fffaf5;
$orange-020: #fff6ee;
$orange-030: #fff2e6;
$orange-040: #fed;
$orange-050: #ffe9d5;
$orange-060: #ffe5cc;
$orange-070: #ffd4aa;
$orange-080: #ffbf80;
$orange-090: #fa5;
$orange-100: #ff942b;
$orange-110: #ff7f00;
$orange-120: #d56a00;
$orange-130: #a50;
$orange-140: #804000;
$orange-150: #552a00;
$red-000: #fffafa;
$red-010: #fff7f7;
$red-020: #fff2f2;
$red-030: #ffecec;
$red-040: #ffe5e5;
$red-050: #ffdfdf;
$red-060: #ffd8d8;
$red-070: #ffbfbf;
$red-080: #ff9f9f;
$red-090: #ff7e7e;
$red-100: #ff5e5e;
$red-110: #ff3e3e;
$red-120: #d53434;
$red-130: #aa2929;
$red-140: #801f1f;
$red-150: #551515;
$red-160: #330c0c;
$white: #fff;
$grey-030: #ececec;
$grey-100: #4f4f4f;
$grey-030: #ececec;
$white: #fff;
$color-baseline-to-do: #ffdcd9;
$color-baseline-in-progress: #fff2d9;
$color-baseline-done: #d9ffe9;
$color-label-01: #cdb4db;
$color-label-02: #ffc8dd;
$color-label-03: #ffafcc;
$color-label-04: #bde0fe;
$color-label-05: #a2d2ff;
$color-light-grey-030: #ececec;
$color-light-grey-020: #f4f4f4;
$color-light-grey-030: #ececec;
$color-light-grey-100: #4f4f4f;
$color-light-white: #fff;
$color-light-grey-020: #f4f4f4;
$color-light-grey-030: #ececec;
$color-light-blue-100: #4684f8;
$color-light-blue-100: #4684f8;
$color-light-blue-100: #4684f8;
$color-light-grey-040: #e3e3e3;
$color-light-grey-100: #4f4f4f;
$color-light-grey-040: #e3e3e3;
$color-light-white: #fff;
$color-light-grey-020: #f4f4f4;
$color-light-blue-140: #11367b;
$color-light-grey-030: #ececec;
$color-light-grey-010: #f9f9f9;
$color-light-grey-100: #4f4f4f;
$color-light-white: #fff;




// Fonts
$fusion-family-medium: "HelveticaNeue-Medium";
$fusion-family: "HelveticaNeue";
$fusion-family-bold: "HelveticaNeue-Bold";

//Font-sizes
$font-size-ob-title: 30px;
$font-size-ob-heading: 26px;
$font-size-24: 2.4rem; //24px
$font-size-20: 2rem; //24px
$font-size-18: 1.8rem; //16px
$font-size-16: 1.6rem; //16px
$font-size-14: 1.4rem; //14px
$font-size-12: 1.2rem; //12px

//SPACING
$spacing-4: 0.4rem; //4px
$spacing-8: 0.8rem; //8px
$spacing-10: 1rem; //10px
$spacing-12: 1.2rem; //12px
$spacing-16: 1.6rem; //16px
$spacing-24: 2.4rem; //24px
$spacing-32: 3.2rem; //32px

//Border Radius
$radius-4: 0.4rem; //4px
$radius-6: 0.6rem; //6px
$radius-8: 0.8rem; //8px
$radius-10: 1rem; //10px
$radius-12: 1.2rem; //12px
$radius-16: 1.6rem; //16px
$radius-24: 2.4rem; //24px
$radius-32: 3.2rem; //32px



