@import '../../../../../../../assets/styling/principles/variables';


.bug-detail-container {
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 10%;

    .log-container {
        width: 100%;

        .content-filters-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;

            .Rectangle-Copy {
                margin: 0 8px 20px 0;
                padding: 4px 10px 5px 11px;
                border-radius: 222px;
                background-color: #eaeaea;
                cursor: pointer;

                &.active {
                    background-color: #4684f8;

                    .Actions-text {
                        font-size: 12px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #ffffff;
                        font-family: "HelveticaNeue-Medium";
                    }
                }

                .Actions-text {
                    font-size: 12px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #676f78;
                }
            }

        }

        .logs-content-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .log-container {
                width: 100%;
                margin-bottom: .5rem;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;


                .Rectangle {
                    width: 16px;
                    height: 16px;
                    margin: 2px 32px;
                    border-radius: 4px;
                    background-color: #d8d8d8;
                }
            }
        }
    }

    .top-container {
        width: 100%;
        background-color: #f9f9f9;
        padding: 1rem 2rem 1rem 2.4rem;



        .container-back-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .back-button-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                .Back-to-Issues {
                    font-size: $font-size-16;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #7b838d;
                }

                .Rectangle {
                    width: 24px;
                    height: 24px;
                    margin: 0 15px 0 0;
                    padding: 1px;
                    border-radius: 4px;
                    border: solid 1px #ecebef;
                    background-color: #fff;
                    display: grid;
                    place-items: center;

                    .left-icon {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .ViewBox {
                width: 24px;
                height: 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 4px;


                .Oval {
                    width: 4px;
                    height: 4px;
                    margin: 1px;
                    border-radius: 3px;
                    background-color: black;
                }
            }

        }

        .BugID {
            margin: 20px 0px 0px 0px;
            font-family: 'HelveticaNeue';
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #7b838d;
        }

        .Lorem-ipsum-dolor-si {
            margin-top: 5px;
            margin-right: 12px;
            font-size: $font-size-16;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000;
        }

        .detail-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 51px;

            .assignee-container {
                width: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 21px;

                .assignee {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .name-text {
                        font-size: $font-size-14;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #7d8188;
                        margin-left: 8px;

                    }
                }
            }

            .status-container {
                width: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;



                .Rectangle {
                    width: 162px;
                    height: 44px;
                    margin: 0 8px 5px 0;
                    padding: 10px 14px 9px 12px;
                    border-radius: 22px;
                    border: solid 1px #e7e7e7;
                    background-color: #f4f4f4;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;



                    .items-left {
                        width: 70%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .items {
                            display: flex;
                            flex-direction: column;

                            .text-normal {
                                font-size: 8.2px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #a5a5a5;
                            }

                            .text-selected {
                                font-size: 12px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                color: #131415;
                            }
                        }



                    }
                }

                // .Rectangle {
                //     width: 162px;
                //     height: 44px;
                //     margin: 0 10px 0 0;
                //     border-radius: 100%;
                //     background-color: #f4f4f4;
                // }
            }
        }
    }


    .tab-container {
        height: 50px;
        width: 100%;
        margin-top: 2rem;
        border-bottom: solid 1px #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 2rem 0 2.4rem;



        .tab {
            gap: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-right: 5rem;
            cursor: pointer;
            height: 100%;

            &.active {
                border-bottom: 2px solid $primary-color;


                .Rectangle {
                    width: 16px;
                    height: 16px;
                    margin: 2px 10px 2px 0;
                    border-radius: 4px;
                    background-color: #4684f8;
                }

                .text {
                    color: $primary-color;
                    font-size: $font-size-16;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }

                .tab-icon {
                    fill: #000000;
                    // margin-right: 15px;
                    margin-top: 0px !important;

                    &.active {
                        fill: $primary-color
                    }
                }
            }

            .Rectangle {
                width: 16px;
                height: 16px;
                margin: 2px 10px 2px 0;
                border-radius: 4px;
                background-color: #d8d8d8;
            }

            .text {
                font-family: "HelveticaNeue-Medium";

                font-size: $font-size-16;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #6b6f7c;
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem 2rem 0 2.4rem;
        width: 100%;
        height: 100%;


        .right-content-screen {
            width: 70%;
            height: 100%;

            .top-content-containers {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 3rem;

                .cont-block {
                    width: 47%;
                    height: 99px;
                    margin: 0 33px 0 0;
                    padding: 20px 24px 20px 21px;
                    border-radius: 4px;
                    border: solid 1px #e6e6e6;
                    background-color: #fff;


                    .Occurances {
                        margin-top: 0px !important;
                        margin: 0 20px 13px 0;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #979797;
                        margin-left: 10px !important;
                    }

                    span {

                        margin: 13px 0 0;
                        font-size: 24px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #000;



                    }
                }
            }
        }



        .right-side-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            padding: 4rem;



            .device-priveiw-container {
                width: 30%;
            }

            .content-container {
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 3rem;





                .tag-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4rem;

                    .tag-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .Tags {
                            margin-left: .8rem;
                            font-size: $font-size-14;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #6e6e6e;
                        }
                    }

                    .tag-detail-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;


                        .tag-widget {
                            // width: 48px;
                            // height: 24px;
                            margin: 0 8px 0 0;
                            padding: 6px 12px 6px 13px;
                            border-radius: 16px;
                            background-color: #ffdcd9;
                        }
                    }
                }


            }

        }

        .left-side-container {
            width: 30%;
            height: 100%;
            border-left: 2px solid #f0f0f0;
            padding: 2rem;
            padding-bottom: 100%;

            .Environment-Details {
                height: 15px;
                font-size: $font-size-12;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #232323;

            }

            .detail-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 2rem;
                margin-top: 2rem;
                font-family: "HelveticaNeue";

                .list-tag {
                    background-color: #eceef2;
                    padding: .8rem;
                    font-family: "HelveticaNeue";
                    font-size: 16px;
                    border-radius: .6rem;
                    font-size: $font-size-16;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #6b6f7c;

                }

                .list-value {
                    font-family: "HelveticaNeue-Medium";
                    font-size: $font-size-16;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                    color: #131415;
                }
            }
        }


        @media only screen and (min-width:1440px) {
            .right-content-screen {
                width: 80%;
                height: 100%;
            }

            .left-side-container {
                width: 20%;
                height: 100%;
                border-left: 2px solid #f0f0f0;
            }

        }
    }



}

.disp-col {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.assigne-name {
    width: 77px;
    height: 15px;
    margin: 3px 65px 2px 0;
    font-family: $fusion-family;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131415;
}

.assigne-job {
    width: 61px;
    height: 10px;
    margin: 2px 81px 0 0;
    font-family: $fusion-family;
    font-size: 8.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a5a5a5;
}

.menu-item-to-update {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    padding: 0px 0px 0px 10px;



    .menu-item-text {
        // width: 34px;
        height: 15px;
        margin: 0 0 0 19px;
        font-family: $fusion-family;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #131415;

        .opt-text {
            margin: 1px 0 0 0px;
            font-family: 'HelveticaNeue-Bold';
            font-size: 12px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $black;
        }
    }

}

.full-width {
    width: 30%;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-fill {
    .mat-form-field-flex {
        background-color: #f5f5f5 !important;
        padding: 1rem 2rem !important;
    }
}

::ng-deep .mat-form-field-infix {
    padding: 0rem !important;
}


::ng-deep .mat-form-field-appearance-fill {
    .mat-form-field-label {
        color: #000000;
    }
}

::ng-deep .mat-form-field-label {
    .forget-password {
        background-color: #000;
    }
}

::ng-deep .mat-input-element {
    color: #000 !important;
}

::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0rem !important;
    }
}

::ng-deep .mat-form-field-flex {
    border-radius: 20rem !important;
}

::ng-deep .mat-form-field.mat-focused {
    color: #000000 !important;
    border-radius: 20rem;
    background-color: #f5f5f5;
}

::ng-deep .mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
    background-color: $primary-color !important;
}

.oval {
    width: 16px;
    height: 16px;
    margin: 4px 8px 5px 0;
    border-radius: 8px;
    background-color: var(--color);
}


.menu-item-to-update {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    padding: 0px 0px 0px 10px;
}




.Avatar {
    width: 28px;
    height: 28px;
    margin: 0 8px 0 0;
    border-radius: 14px;
}


.Rectangle-icon {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    background-color: #d8d8d8;
}



.Lorem-ipsum-dolor-si {
    height: 50px;
    overflow: hidden;
    font-size: $font-size-16;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-family: "HelveticaNeue-Medium";
}

.menu-container {
    width: 8rem;
}

::ng-deep .mat-menu-panel {
    border-radius: 12px;
    width: 170px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 170px;
    gap: 10px;
    padding: 10px;

    &:hover {
        background-color: #f0f0f0;
        border-radius: 12px;
    }

    .opt-text {
        margin: 1px 0 0 0px;
        font-family: 'HelveticaNeue-Bold';
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5e646a;

        &:hover {
            color: black;
        }
    }

    .menu-item-text {
        // width: 34px;
        height: 15px;
        margin: 0 0 0 19px;
        font-family: $fusion-family;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #131415;
    }

}


.menu-item-content-text {

    margin: 5px 0 0;
    white-space: nowrap;
    font-family: $fusion-family;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131415;
}

.search-assignee-container {
    width: 80%;
    // height: 30px;
    margin: auto;
    // margin: 0 8px 10px;
    padding: 7px 0px 7px 8px;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
    background-color: #fff;
    overflow: hidden;

    .search {
        outline: none;
        border: 0px;
        width: 100%;

    }
}


.Avatar {
    width: 28px;
    height: 28px;
    margin: 0 8px 0 0;
    border-radius: 14px;
}

.number-img {
    margin-left: 10px !important;
    margin-top: 0px !important;
}


.vl {
    // width: 3px;
    // height: 51px;
    // margin: 7px 12px 0 0;
    // border-radius: 2px;
    // background-color: $orange-100;
}

.f-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerSide {
    display: flex;
    flex-direction: column;
}

.payload {
    width: 950px;
    height: 20px;
    margin: 0 0 0 32px;
    font-family: "HelveticaNeue-Medium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232932;
    word-wrap: break-word;
}

.date {
    width: 70px;
    height: 15px;
    margin: 3px 32px 2px 0;
    font-family: "HelveticaNeue";
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #676f78;
}

.tog-btn {
    display: flex;
}

.matButtonToggleGroup {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    border: solid 0.8px #f0f0f0;
    background-color: #fafafa;
}

.default {
    font-family: "SupremeVariable-Extrabold_";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131415;
}

.raw {
    font-family: "SupremeVariable-Extrabold_";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131415;
}

.phone {
    width: 175px;
    height: 372px;
    margin: 0 50px 0 0;
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
}

.phone1 {
    margin-left: 10px;
}

.bg {
    width: auto;
    height: 358px;
    margin: 25px 35px 54px 0px;
    padding: 14px 20px 18px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;
}

.testBug {
    width: 392px;
    height: 20px;
    margin: 0 575px 22px 0;
    font-family: "HelveticaNeue-Medium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
}

.divide {
    border-bottom: 2px solid #f0f0f0;
    width: 80%;
    margin-bottom: 20px;
}

.comaptestbugMa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.upload {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 18px;
    background-color: $blue-100;
}

.btn-upload {
    width: 117px;
    height: 16px;
    margin: 1px 0 1px 13px;
    font-family: "HelveticaNeue";
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $white;
    text-decoration: none;

}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 43px;
}

.Bugshow {
    padding: 16px;
}

.activity-data {
    width: 131px;
    height: 20px;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
}